pipeline/EmptyData_check.json
{
	"name": "EmptyData_check",
	"properties": {
		"activities": [
			{
				"name": "If Condition_empty_check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "MetaData_file_Empty_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('MetaData_file_Empty_check').output.columnCount, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Empty_read",
								"value": {
									"value": "String(Empty)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Data_read",
								"value": {
									"value": "@string(activity('MetaData_file_Empty_check').output.columnCount)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "MetaData_file_Empty_check",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_empty_check",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"Data_read": {
				"type": "String"
			},
			"Empty_read": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-18T12:42:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}